<!--Search UI-->
<div class="form-inline serch-box">

       <select class="form-control target " id="rec">          
            <option onClick="searchUserPage()" value="5">5</option>
            <option onClick="searchUserPage()" value="10">10</option>
            <option onClick="searchUserPage()" value="15">15</option>
            <option onClick="searchUserPage()" value="20">20</option>
            
        </select>
 
          <input type="text" class="form-control" id="keyword" placeholder="Search User">
         <input type="hidden" name="order" id="order" value="0"/>
          
         <button type="submit" class="btn btn-primary" onclick="searchUser()">Search</button>  
  </div>

<input type="hidden" name="desc" value="" id="desc"/>
<!--end-->
<p><div class="text-right"><%= link_to "+ Add User", sign_up_path ,:class=>"btn btn-primary"%></div></p>
<div id="search_page">
</div>
<script type="text/javascript">

function edit_user(user_id){
	
$.ajax({type: "get",url: "/admin/update_user",data: {'user_id' : user_id },success:function(){
  $("#loader").hide();
    
  }
});
}

$('#select-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    }
    else
    {
    	$(':checkbox').each(function() {
            this.checked = false;                        
        });
    }
});

//Search User code
  $("#keyword").keyup(function(event){
    if(event.keyCode == 13){
      sendAjax();
    }
  });

  $("#keyword").keypress(function(event){
    
      sendAjax();
   
  });

/*  $("#order").change(function() {    
    sendAjax();
  });
*/

   function searchUser()
   {
    sendAjax();
   }

   $( document ).ready(function() {
        sendAjax();
    });
  function sendAjax(){
    var keyword=$("#keyword").val();
    var order=$("#order").val();
    var page=$("#page_no").val()
    var per_page=$("#rec").val();
    if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    }
    $.ajax({ type: 'GET', url: "/search/search_user",data: ({ 'keyword' : keyword,'order' :order,'page': page,'per_page' :per_page}),success: function(data){
      $("#loader").hide();
        var order=$("#order").val();

        if(order=='deactive')
        {
          
          $("#d").val("Active")
        }

    } }); 
  }
function searchD(order){
  var keyword=$("#keyword").val();
    var order=order
    var page=$("#page_no").val() 
    var per_page=$("#rec").val();
    var desc=$("#desc").val();
    if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    }
    if (desc=='desc')
    {
    $.ajax({ type: 'GET', url: "/search/search_user",data: ({ 'keyword' : keyword,'order' :order,'page': page,'desc': desc,'per_page' :per_page}),success: function(data){
      $("#loader").hide();
      $(this).toggleClass( 'caret', 'caret-1');
      $("#desc").val('asc');
    } });  
    }    
    else{
    $.ajax({ type: 'GET', url: "/search/search_user",data: ({ 'keyword' : keyword,'order' :order,'page': page,'per_page' :per_page}),success: function(data){
      $("#loader").hide();
      $(this).toggleClass( 'caret-1', 'caret');
      $("#desc").val('desc');
    } });
    } 
}
function searchUserPage(){
  var keyword=$("#keyword").val();
    var order=$("#order").val();
    var page=$("#page_no").val();
    var per_page=$("#rec").val();
    var desc=$("#desc").val();
    if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    }
    if (desc=='desc')
    {
    $.ajax({ type: 'GET', url: "/search/search_user",data: ({ 'keyword' : keyword,'order' :order,'page': page,'desc': desc,'per_page' :per_page}),success: function(data){
      $("#loader").hide();
      $(this).toggleClass( 'caret', 'caret-1');
      $("#desc").val('asc');
    } });  
    }    
    else{
    $.ajax({ type: 'GET', url: "/search/search_user",data: ({ 'keyword' : keyword,'order' :order,'page': page,'per_page' :per_page}),success: function(data){
      $("#loader").hide();
      $(this).toggleClass( 'caret-1', 'caret');
      $("#desc").val('desc');
    } });
    } 
}
</script>