<!--Search-->
      <div class="form-inline serch-box">
        <input type="text" class="form-control" id="keyword" placeholder="Search Role">
        
        <select class="form-control target " id="order">          
          <option onClick="searchRole()" value="name">Name</option>
          <option onClick="searchRole()" value="date">Created Date</option>
       </select> 
     <button type="submit" class="btn btn-primary" onclick="searchRole()">Search</button>
      </div>
      <!--End-->
      <input type="hidden" name="desc" value="" id="desc"/>
<p><div class="text-right"><%= link_to "+ Add Role", admin_path ,:class=>"btn btn-primary"%></div></p>
<div id="search_page">

</div>
<script type="text/javascript">

$( document ).ready(function() {
    sendAjax();
});


function view_role(id)
{
	$.ajax({type: "get",url: "/admin/role_list",data: {'add_role_id' : id},success:function(){
  		$("#loader").hide();
  		
	}
});
}

//Search User code
  $("#keyword").keyup(function(event){
    if(event.keyCode == 13){
      sendAjax();
    }
  });
/*
  $("#zip").keyup(function(event){
    if(event.keyCode == 13){
      sendAjax();
    }
  });
*/
/*  $("#order").change(function() {    
    sendAjax();
  });
*/
   function searchRole()
   {
    sendAjax();
   }
  function sendAjax(){
    var keyword=$("#keyword").val();
    var order=$("#order").val();
    //var zip=$("#zip").val();    
    
    $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order}),success: function(data){
      $("#loader").hide();
    } }); 
  }
  function searchD(order){
  var keyword=$("#keyword").val();
    var order=order
    var page=$("#page_no").val();
    var desc=$("#desc").val(); 
    //var zip=$("#zip").val();    
    if (desc=='desc'){
      $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'page': page,'desc': desc}),success: function(data){
      $("#loader").hide();
      $("#desc").val('asc');
    } });

    }else{
    $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'page': page}),success: function(data){
      $("#loader").hide();
      $("#desc").val('desc');
    } }); 
    }
}
</script>