<!--Search-->
      <div class="form-inline serch-box">
        <select class="form-control target " id="rec">          
            <!--<option onClick="searchUserPage()" value="5">5</option>-->
            <option onClick="searchUserPage()" value="10">10</option>
            <option onClick="searchUserPage()" value="15">15</option>
            <option onClick="searchUserPage()" value="20">20</option>
            
        </select>

        <input type="text" class="form-control" id="keyword" placeholder="Search Role">
        <input type="hidden" value="0" id="order"/>
         
     <button type="submit" class="btn btn-primary" onclick="searchRole()"><i class="glyphicon glyphicon-search"></i> Search</button>
      </div>
      <!--End-->
      <input type="hidden" name="desc" value="" id="desc"/>
<p><div class="text-right"><%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> Add Role".html_safe, admin_path ,:class=>"btn btn-primary"%></div></p>
<div id="search_page">

</div>
<script type="text/javascript">

$( document ).ready(function() {
    sendAjax();
});


function view_role(id)
{
	$.ajax({type: "get",url: "/admin/role_list",data: {'add_role_id' : id},success:function(){
  		$("#loader").hide();
  		
	}
});
}

//Search User code
  $("#keyword").keyup(function(event){
    if(event.keyCode == 13){
      sendAjax();
    }
  });

  
/*
  $("#zip").keyup(function(event){
    if(event.keyCode == 13){
      sendAjax();
    }
  });
*/
/*  $("#order").change(function() {    
    sendAjax();
  });
*/
   function searchRole()
   {
    sendAjax();
   }
  function sendAjax(){
    var keyword=$("#keyword").val();
    var order=$("#order").val();
    var page=$("#page_no").val();   
      var per_page=$("#rec").val();
      if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    }
    $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'per_page' :per_page,'page': page}),success: function(data){
      $("#loader").hide();
    } }); 
  }
  function searchD(order){
    var keyword=$("#keyword").val();
    var order=order
     var per_page=$("#rec").val();
    var page=$("#page_no").val();
    var desc=$("#desc").val(); 
    if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    }
    //var zip=$("#zip").val();    
    if (desc=='desc'){
      $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'per_page' :per_page,'page': page,'desc': desc}),success: function(data){
      $("#loader").hide();
      $("#desc").val('asc');
    } });

    }else{
    $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'per_page' :per_page,'page': page}),success: function(data){
      $("#loader").hide();
      $("#desc").val('desc');
    } }); 
    }
}
function searchUserPage()
{
var keyword=$("#keyword").val();
    var order=$("#order").val();
    var page=$("#page_no").val()
    var per_page=$("#rec").val();
    var desc=$("#desc").val();
    if (!page) {
      page=1
    }
    else{
      page=$("#page_no").val()
    } 
    //var zip=$("#zip").val();    
    if (desc=='desc'){
      $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'per_page' :per_page,'page': page,'desc': desc}),success: function(data){
      $("#loader").hide();
      $("#desc").val('asc');
    } });

    }else{
    $.ajax({ type: 'GET', url: "/search/search_role",data: ({ 'keyword' : keyword,'order' :order,'per_page' :per_page,'page': page}),success: function(data){
      $("#loader").hide();
      $("#desc").val('desc');
    } }); 
    }

}

</script>