
<div class="form info">
<fieldset class="scheduler-border">
    <legend class="scheduler-border"><h1><i class="glyphicon glyphicon-user"></i> Login</h1></legend>
<form method="post" action="/sessions" accept-charset="UTF-8">
<input type="hidden" value="normal" name="user_type"/>
<label class="control-label" for="email">Email</label>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" class="form-control" type="text" name="email">
  </div>
  <label class="control-label" for="password">Password</label>
  <div class="form-group input-group">
    
    <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" class="form-control" type="password" name="password">
  </div>
  <div ><a href="/password_resets/new">forgotten password?</a></p>
<div class="row">
        <div class="col-md-12">
  <input id="remember_me" type="checkbox" value="1" name="remember_me">
  <label for="remember_me">Remember me</label>
</div>
</div>
  <div class="form-group button"><input class="btn btn-primary" type="submit" value="Log in" name="commit"></div>
</form>

</fieldset>
</div>

    