
<div class="form">
<fieldset class="scheduler-border">
    <legend class="scheduler-border"><h1></i>Forgot your password?</h1></legend>
<form >
  <div class="form-group">
  <label> Email</label>
  {{input type="text" value=email class="form-control" id="email"}}
</div>
  <div class="form-group"> <button {{action passwordReset }} class="btn btn-default"> Reset Password</button> </div>
<form>
</fieldset>
</div>
