<div class="form">
<fieldset class="scheduler-border">
    <legend class="scheduler-border"><h1>Create New Password</h1></legend>
    <div id="error_show" style="color:red"></div>
<form >
<input type="hidden" name="reset_password_token" id="reset_password_token" {{bindAttr value="controller.content"}} >
  <div class="form-group">
  <label> Password</label><br/>
  <input type="password" name="password" id="password" placeholder="Password" >
</div>
<div class="form-group">
  <label> Password Confirmation</label><br/>
   <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Password Confirm" >
</div>
  <div class="form-group"> <button {{action "createPassword" }} class="btn btn-default"> Reset Password</button> </div>
<form>
</fieldset>
</div>
