{{#if user}}
  <div class="container-fluid">
    <div class="greeting">
        <span class="hello" >
          {{#if isAuthenticated}}
            <h3 class="bg-primary text-center">Hi {{hiName}}</h3>
          {{else}}
          <h3 class="bg-primary text-center">Hi Guest</h3>
            
          {{/if}}
        </span>

    </div>
  </div>
{{/if}}
