.fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}
fieldset.scheduler-border {
   border-radius: 8px;
   background-color: #f5f5f5;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    
}
.form
{
  width: 400px;
  margin-left: 400px; 
 /* background-color: #f5f5f5;*/
  border-radius: 8px;
}
#flash_notice
{
  border-radius: 2px;
  text-align: center;
  font-size: 20px;
}
.form-role
{

  border-radius: 8px;
  width: 55%;
  margin-left: 200px; 
  
}
.user-name-bg{
  border-radius: 8px;

}
#loader
{
  position: absolute;
  left: 571px;
  top :327px;
  z-index: 10001;
}

.dlt-btn{margin:-43px 0 20px 0px;}
.btn-circle{
  border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}
.user-circle-online {
    height: 15px !important;
    width: 15px !important;
}
.serch-box{    margin: 12px 540px -45px;
    text-align: right;
    width: 500px;
  }
.label-role{
     display: inline-block;
    
    margin-bottom: 5px;
    font-size: 12px;
    }
.bt-logout{
  margin-top: 6px;
}
.tr-cursor{
  cursor: pointer;
} 
.caret-1 {
    border-bottom: 4px solid;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}